<div class="sidebar">
  <div class="logo">
    <img id="logo" src="/image.png" alt="Logo" />
  </div>

  <nav class="nav-links">
    <a
      class="nav-item"
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      <i class="bi bi-suit-heart-fill icon"></i>
      <span>Dashboard</span>
    </a>
    <a
      class="nav-item"
      routerLink="/departments"
      routerLinkActive="active"
    >
      <i class="bi bi-suit-heart-fill icon"></i>
      <span>Departments</span>
    </a>
      <a
      class="nav-item"
      routerLink="/designation"
      routerLinkActive="active"
    >
      <i class="bi bi-suit-heart-fill icon"></i>
      <span>Designation</span>
    </a>

    <a
      class="nav-item"
      routerLink="/employee"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-house-fill icon"></i>
      <span>Employees</span>
    </a>

        
  </nav>

  <!-- LOGOUT BUTTON -->
  <div class="logout-container">
    <button class="logout-btn" (click)="logout()">
      <i class="bi bi-box-arrow-right icon"></i>
      <span>Logout</span>
    </button>
  </div>
</div>
