<div class="login-container">
  <div class="auth-container">
    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <span class="text-center mb-2">
      {{ isLoginMode ? "Login" : "User Registration" }}
    </span>

    <form *ngIf="isLoginMode" (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <div class="login-form">
        <div class="field">
          <label for="username" class="form-label">Username:</label>
          <input
            id="username"
            type="text"
            class="form-control"
            formControlName="username"
            name="username"
            required
          />
        </div>

        <div class="field">
          <label for="password" class="form-label">Password:</label>
          <p-password
            id="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            class="w-full form-control"
          ></p-password>
        </div>

        <button type="submit" class="btn">Login</button>
        <p class="text-center paragraph">
          Don’t have an account?
          <a href="javascript:void(0)" (click)="toggleMode()">Sign Up</a>
        </p>
      </div>
    </form>

    <form *ngIf="!isLoginMode" (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
      <div class="user-form">
        <div class="field">
          <label for="username">Username:</label>
          <input
            id="username"
            formControlName="username"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="field">
          <label for="firstName">First Name:</label>
          <input
            id="firstName"
            formControlName="firstName"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="field">
          <label for="lastName">Last Name:</label>
          <input
            id="lastName"
            formControlName="lastName"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="field">
          <label for="password">Password:</label>
          <p-password
            id="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            class="w-full form-control"
          ></p-password>
        </div>

        <button type="submit" class="btn">Register</button>

        <p class="text-center paragraph">
          Already have an account?
          <a href="javascript:void(0)" (click)="toggleMode()">Log In</a>
        </p>
      </div>
    </form>
  </div>
</div>
