/* Container Setup */
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}
.error-message {
  color: red;
  font-size: 0.7rem;
  display: inline-block;
  margin-left: 0.5rem;
}


/* Card Layout */
.auth-container {
  width:auto;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.auth-container:hover {
  transform: translateY(-4px);
}

/* Form */
.login-form,
.user-form {
 flex:1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field {
  flex:1;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

label {
  font-weight: 600;
  font-size:0.75rem;
  color: #333;
}

.form-control {
  border: 1.5px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 0.95rem;
  padding:0.1rem;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #2575fc;
}

/* Buttons */
.btn {
  background: #2575fc;
  color: #fff;
  border: none;
  padding: 0.25rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.paragraph{
  margin:0;
}
.btn:hover {
  background: #1a5cd8;
}

/* Links and Text */
.text-center {
  text-align: center;
}

.text-center a {
  color: #2575fc;
  text-decoration: none;
  font-weight: 500;
}

.text-center a:hover {
  text-decoration: underline;
}

/* Alerts */
.alert-success,
.alert-danger {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

/* Responsive */
@media (max-width: 480px) {
  .auth-container {
    width: 90%;
    padding: 1.5rem;
  }
}

:host ::ng-deep .p-password {
  width: 100%;
  border:none;
  outline:none;
}

:host ::ng-deep .p-password input {
  border: 1.5px solid #ccc !important;
  border-radius: 8px !important;
  outline: none !important;
  font-size: 0.95rem !important;
  padding: 0.1rem 0.25rem !important;
  height: auto !important;
  box-sizing: border-box !important;
}

:host ::ng-deep .p-password input:focus {
  border-color: #2575fc !important;
  box-shadow: none !important;
}