.main-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color:#fac55f;
  color: white;
  display: flex;
  flex-direction: column;
}
.content-area {
  margin-left: 200px; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: calc(100% - 200px);
}
.content-body {
  flex: 1;
  width:100%;
  height:100vh;
   overflow-y: auto;  
  padding: 1rem 1.5rem;
  background-color: #f7f8fa;
}
