.dashboard-container {
  flex:1;
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 1rem;
  height:100vh;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-auto-rows: 1fr; 
  gap: 1.5rem;
  width: 100%;
  height: 100%; 
}

.stat-card {
  flex:1;
  color: white;
  border-radius: 0.75rem;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-6px);
  }

  .stat-content {
    flex:1;
    display: flex;
    justify-content: space-between;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    h2 {
      font-size: 2.2rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .right i {
    font-size: 3rem;
    opacity: 0.8;
  }
}

.blue   { background: linear-gradient(135deg, #2962FF, #00B8D4); }
.green  { background: linear-gradient(135deg, #00C853, #64DD17); }
.yellow { background: linear-gradient(135deg, #FFD600, #FFB300); }
.purple { background: linear-gradient(135deg, #7C4DFF, #651FFF); }
.violet { background: linear-gradient(135deg, #6200EA, #B388FF); }
.cyan   { background: linear-gradient(135deg, #00BCD4, #0091EA); }
